extends ../layouts/default

block intro
	.container
		h1.f-headline.tc Passions
	
block content
	.container
		if Passions.length
			
			each passion in Passions
				h2= passion.name
				
				.row.passion-images
					if passion.heroImage.exists
						.col-sm-4.col-md-4
							.passion-image: img(src=passion._.heroImage.limit(250,250)).img-rounded
							.text-muted= passion._.publishedDate.format('Do MMM YYYY')
						//- .col-sm-8.col-md-8: .row
						//- 	each image in passion.images
						//- 		.col-xs-4.col-sm-4.col-md-3.passion-image: img(src=image.limit(300,300)).img-rounded
					else
						//- each image in passion.images
						//- 	.col-xs-6.col-sm-4.col-md-3.passion-image: img(src=image.limit(300,300)).img-rounded
		else
			h3.text-muted There are no passions posted yet.
