include ../mixins/flash-messages

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Passion Project
		//- Bootstrap core CSS
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
		//- Custom fonts for this template
		link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
		//- Custom styles for this template
		link(href='/styles/clean-blog.min.css', rel='stylesheet')
	body
		
		//- Page Header
		header.masthead(style="background-image: url('/images/mikesgramps.png'); background-origin: ")
			.container
				.row
					//- Navigation
					div(role="navigation").navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href='/') Passion Project
							.collapse.navbar-collapse
								ul.nav.navbar-nav.navbar-right
									if user
										if user.canAccessKeystone
											li: a(href='/keystone') Open Keystone
										li: a(href='/keystone/signout') Sign Out
									else
										each link in navLinks
											li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
					
					.row.mx-auto
						.site-heading
							h1 Clean Blog
							span.subheading A Blog Theme by Start Bootstrap
		
		//- Main Content
		.container
			.row
				.entrypage-passions-title.tc 
					h3 Passions
			.row
				.col-lg-6.mx-auto
					.post-preview
						a(href='post.html')
							h2.post-title
								| Man must explore, and this is exploration at its greatest
							h3.post-subtitle
								| Problems look mighty small from 150 miles up
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on September 24, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on September 18, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| Science has not yet mastered prophecy
							h3.post-subtitle
								| We predict too much for the next year and yet far too little for the next ten.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on August 24, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| Failure is not an option
							h3.post-subtitle
								| Many say exploration is part of our destiny, but it’s actually our duty to future generations.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on July 8, 2018
					hr
					//- Pager
					.clearfix
						a.btn.btn-primary.float-right(href='#') Older Posts →
				.col-lg-6.mx-auto
					.post-preview
						a(href='post.html')
							h2.post-title
								| Man must explore, and this is exploration at its greatest
							h3.post-subtitle
								| Problems look mighty small from 150 miles up
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on September 24, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on September 18, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| Science has not yet mastered prophecy
							h3.post-subtitle
								| We predict too much for the next year and yet far too little for the next ten.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on August 24, 2018
					hr
					.post-preview
						a(href='post.html')
							h2.post-title
								| Failure is not an option
							h3.post-subtitle
								| Many say exploration is part of our destiny, but it’s actually our duty to future generations.
						p.post-meta
							| Posted by
							a(href='#') Start Bootstrap
							|               on July 8, 2018
					hr
					//- Pager
					.clearfix
						a.btn.btn-primary.float-right(href='#') Older Posts →

		//- Footer
		footer
			.container
				.row
					.col-lg-8.col-md-10.mx-auto
					ul.list-inline.text-center
							li.list-inline-item
								a(href='#')
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-twitter.fa-stack-1x.fa-inverse
							li.list-inline-item
								a(href='#')
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
							li.list-inline-item
								a(href='#')
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-github.fa-stack-1x.fa-inverse
						
				p.copyright.text-muted Copyright © Your Website 2018

			//- Bootstrap core JavaScript
			script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
			//- script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
			//- Custom scripts for this template
			script(src='/js/clean-blog.min.js')

			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
			script(src='/js/jquery/jquery-1.11.3.min.js')

			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
			script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

			//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
			//- which generate links to edit content for users who can access Keystone
			if user && user.canAccessKeystone
				script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
